
<div class="container" style="padding: 2px">
  <div class="jumbotron"><h1> gCamp</h1>
    <div class= "lead">get SUPER organized! </div>
         </div>

   </p>
   <div class="row"  style="padding: 135px">
     <div class="col-md-4">
       <%= image_tag "glogo.png" %>
         <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title
            </div>
            <div class="panel-body">Panel content
            </div>
        </div>
    </div>
   <div class="col-md-4">
    <%= image_tag "glogo.png" %>
     <div class="panel panel-primary">
        <div class="panel-heading">Galvanize tasks
        </div>

        <div class="panel-body">Panel content
        </div>
    </div>
  </div>
   <div class="col-md-4">
     <%= image_tag "glogo.png" %>
     <div class="panel panel-primary">
        <div class="panel-heading">Comments
        </div>
        <div class="panel-body">
          <ul style="padding: 10px">
            <li>Comment on tasks</li>
            <li>Get email notifications</li>

          </ul>
        </div>
    </div>
  </div>
</div>

<div class="container">
<% @quotesncharacters.each_with_index do |text,i|  %>

<% if i.even? %>
<dt> "<%= text %>"" </dt>
<% else %>
<dd class="text-muted"> -<%= text %>  </dd>
<br>
<% end %>
<% end %>
</div>


<hr>
<footer>
<% link_to "About", "about" %>
<%= link_to "Terms", "terms" %>
</footer>
