<div class="jumbotron">
  <h1>gCamp</h1>
  <p style="margin-top: 25px">Your life, organized.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag '1.jpg', class:'img-rounded img-responsive' %>
    <div class="panel panel-primary">
      <div class="panel-heading">Tasks</div>
      <div class="panel-body homePanel">Grouped by projects and lists. Just the way you like 'em.</div>
    </div>
  </div>
  <div class="col-md-4">
    <%= image_tag '2.jpg', class:'img-rounded img-responsive' %>
    <div class="panel panel-primary">
      <div class="panel-heading">Documents</div>
      <div class="panel-body homePanel">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Reverse</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= image_tag '3.jpg', class:'img-rounded img-responsive' %>
    <div class="panel panel-primary">
      <div class="panel-heading">Comments</div>
      <div class="panel-body homePanel">
        <ul>
          <li>Comment on tasks and documents.</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
<% @quotesncharacters.each_with_index do |text,i|  %>

<% if i.even? %>
<dt> "<%= text %>"" </dt>
<% else %>
<dd class="text-muted"> -<%= text %>  </dd>
<br>
<% end %>
<% end %>
</div>


<hr>
