<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <h2><font color="white"> gCamp</font> <%= image_tag("glogo.png", size: "60") %></h2>
     </div>
   </nav>

<%= yield %>


</body>
</html>
